<h1>Welcome to Scrabble Score</h1>
<form action="/scrabble">
  <div class="form-group">
    <label for="scrabble">Enter a word, any word:</label>
    <input id="scrabble" name="scrabble" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-success">SCORE</button>
</form>
